<div class="container">
  <div class="row">
    <header-component></header-component>
    <app-header-banner></app-header-banner>
    <div class="col-sm-3 mt-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-secondary text-center">Horario</h5>
          <p class="card-text"><span class="fw-bold">Horario de entrada:</span> 8:00 a.m</p>
          <p class="card-text"><span class="fw-bold">Horario de salida:</span> 12:00 m</p>
          <div class="col-12 d-flex justify-content-center">
            <a href="#" class="btn w-100 btn-info text-white">Ver QR</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-secondary text-center">Horario</h5>
          <p class="card-text"><span class="fw-bold">Horario de entrada:</span> 8:00 a.m</p>
          <p class="card-text"><span class="fw-bold">Horario de salida:</span> 12:00 m</p>
          <div class="col-12 d-flex justify-content-center">
            <a href="#" class="btn w-100 btn-info text-white">Ver QR</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-secondary text-center">Horario</h5>
          <p class="card-text"><span class="fw-bold">Horario de entrada:</span> 8:00 a.m</p>
          <p class="card-text"><span class="fw-bold">Horario de salida:</span> 12:00 m</p>
          <div class="col-12 d-flex justify-content-center">
            <a href="#" class="btn w-100 btn-info text-white">Ver QR</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-secondary text-center">Horario</h5>
          <p class="card-text"><span class="fw-bold">Horario de entrada:</span> 8:00 a.m</p>
          <p class="card-text"><span class="fw-bold">Horario de salida:</span> 12:00 m</p>
          <div class="col-12 d-flex justify-content-center">
            <a href="#" class="btn w-100 btn-info text-white">Ver QR</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
