<div class="card w-100 shadow">
  <div class="card-body">
    
    <div class="row text-center justify-content-between">
      <div class="col border-end">
        <p class="card-text text-secondary fw-bold">Administrador</p>
        <p>{{enterprise.adminUser}}</p>
      </div>
      <div class="col border-end">
        <p class="card-text text-secondary fw-bold">Nit</p>
        <p>{{enterprise.nit}}</p>
      </div>
      <div class="col border-end">
        <p class="card-text text-secondary fw-bold">Sitio Web</p>
        <p>{{enterprise.webSite}}</p>
      </div>
      <div class="col border-end">
        <p class="card-text text-secondary fw-bold">Teléfono</p>
        <p>{{enterprise.countryCode}} {{enterprise.phoneNumber}}</p>
      </div>
      <div class="col border-end">
        <p class="card-text text-secondary fw-bold">correo</p>
        <p>{{enterprise.email}}</p>
      </div>
      <div class="col border-end">
        <p class="card-text text-secondary fw-bold">Ubicación</p>
        <p>{{enterprise.country}},{{enterprise.city}},{{enterprise.state}}</p>
      </div>
      <div class="col">
        <p class="card-text text-secondary fw-bold">Dirección</p>
        <p>{{enterprise.address}}</p>
      </div>
    
    </div>
    
  

  </div>
</div>