<div class="container">
  <div class="row">
    <div class="card shadow col col-6 mt-2" style="max-width: 49.7%;">
      <div class="row g-0">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <img src="assets/images/location.png" class="img-fluid rounded-start w-75 mx-auto" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-secondary"></h5>

            <p class="card-text text-secondary"><span class="fw-bold">Correo: </span></p>
            <p class="card-text text-secondary"><span class="fw-bold">Ubicación: </span></p>
            <p class="card-text text-secondary"><span class="fw-bold">Dirección: </span></p>

            <button class="btn btn-sm btn-info text-white shadow-lg w-100" routerLink="horarios-de-acceso">Ver Horario de
              Acceso</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
